@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

body {
  background-color: #232f46 !important;
  margin: 0;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.pcont {
  width: 30%;
  height: 20px;
  display: inline-block;
}

.pbar {
  height: 20px;
  border-radius: 16px;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #4f525f !important;
}
.w3-round-xlarge {
    border-radius: 16px;
}

.pbar2 {
  height: 20px;
  animation: load 2s;
  background: #ffffff;
}

@keyframes load {
  0% {
    width: 0;
    background: #ababab;
  }
  
  100% {
    width: 100%;
    background: #ffffff;
  }
}

.after-text {
  display: inline-block;
  color: white;
  margin-left: 20px;
  height: 20px;
}

.progress {
  font-size: 25px;
  font-family: 'Andada Pro', serif;
  width: 30px;
}

.title {
  margin-bottom: 25px;
  font-family: 'Andada Pro', serif;
}

#title {
  color: white;
  font-family: 'Lupa', serif;
  font-size: 60px;
}

@media screen and (max-width: 1000px) {
  .pcont {
    width: 60%;
  }
}